@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <form class="form-group col-md-offset-1">
        <div class="col-md-9">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Repositório</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Stars</th>
                    <th scope="col">S2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
