@model IEnumerable<bridge.Models.Repositorio>

@{
    ViewBag.Title = "Home Page";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <h2>Repositórios públicos do GitHub</h2>
        <form class="form-inline" style="padding:20px 0">
            <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="webgrid">
            @grid.GetHtml(
                tableStyle: "table table-responsive table-striped table-bordered table-hover ",
                headerStyle: "wedgrid-header",
                footerStyle: "",
                rowStyle: "webgrid-row-style",
                columns:
                grid.Columns(
                grid.Column(columnName: "Name", header: "Nome", format:
                @<text>
                    @Html.ActionLink(linkText: (string)@item.Name, actionName: "Detalhes", routeValues: new { usuario = item.Owner.Login, repositorio = item.Name })
                </text>),
                grid.Column(columnName: "Description", header: "Descrição"),
                grid.Column(columnName: "Owner.Login", header: "Autor"),
                grid.Column(columnName: "Favorito", header: " ", format:
                @<text>
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </text>)
            ))
        </div>
    </div>
</div>
